name: Update SOTA Map

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Generate map.html
        run: |
          ./generate_map.py
          mkdir output
          mv map.html output/

      - name: Generate map.png
        run: |
          ./generate_map_png.py
          mkdir -p output
          mv map.png output/

      - name: 'Upload Artifacts'
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: output/
          retention-days: 5

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: output
          publish_branch: gh-pages
